body{
    height: 866px;
    background-image: url(../assets/cover.jpg);
    background-position: center;
    background-size: cover;
}

.navbar{
    margin-bottom: 40px;
}

.order{
    margin-top: 50px;
    background-color: white;
    opacity: 0.95;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -20px;
}

.orderCard{
    width: 600px;
    height: auto;
    color: black;
    background-color: rgb(255, 190, 38);
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.finalOrder{
    margin-left: 230px;
    margin-top: -40px;
}

.orderPrice{
    margin-left: 200px;
    margin-top: -30px;
}

.social1{
    cursor: pointer;
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 100px;
    margin-left: 10px;
    margin-top: -60px;
}

.social2{
    cursor: pointer;
    width: 50px;
    height: 50px;
    float: right;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: -60px;
}

.social3{
    cursor: pointer;
    width: 50px;
    height: 50px;
    float: right;
    margin-left: 10px;
    margin-right: 150px;
    margin-top: -60px;
}

.social4{
    cursor: pointer;
    width: 50px;
    height: 50px;
    float: right;
    margin-left: 10px;
    margin-right: 200px;
    margin-top: -60px;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-image: url(../assets/44103191.jpg);
    background-position: center;
    background-size: cover;
}

.copyR{
    text-align: center;
    margin-top: -30px;
    color: white;
    margin-bottom: 0;
}

.showOrder{
    float: left;
}

.totalCost{
    width: 600px;
    height: 644px;
    margin-right: 40px;
    text-align: center;
    float: right;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
}

.form-control{
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn1{
    margin-top: 50px;
    
}

.placeOrder{
    float: left;
}

footer{
    width: 100%;
    height: 80px;
    background-color: darkolivegreen;
    margin-top: 30px;
    float: left;
}